header {
  height: 100vh;
}

.demo-wrapper {
  overflow-x: hidden;
  margin: 0;
}

.wrapper {
  display: flex;
  margin: 0;
}

.the-img {
  width: auto;
  height: 333px;
  background: #f0f0f0;
}
ul {
  padding-left: 1rem;
  list-style: none;
  margin: 0;
}

li {
  flex-shrink: 0;
  padding-right: 1rem;
  margin: 0;
}

.demo-text .text {
  font-size: 122px;
  line-height: 1;
  font-weight: 900;
  overflow-x: visible;
  margin: 0;
}
@media only screen and (max-width: 833px) {
  .demo-text .text {
    font-size: 55px;
  }
  .the-img {
    width: 133px;
    height: 133px;
    background: #f0f0f0;
  }
  li {
    padding-right: 0.1rem;
  }
}
