header {
  height: 100vh;
}

.demo-wrapper {
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  /*display: flex;*/
}

.demo-text .text {
  font-size: clamp(8rem, 15vw, 16rem);
  line-height: 1;
  font-weight: 900;
  overflow-x: visible;
}
