* {
  /*transition: all 0.5s ease-in-out;*/
  user-select: none;
  /*overflow: scroll;*/
  /*background-color: #f7f7f7;*/
  font-family: "Oswald", sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  /*margin: 0;*/
  /*!*font-family: "Roundkey", monospace;*!*/
  /*font-weight: 700;*/
  /*overflow-y: hidden;*/
  /*overflow-x: hidden;*/
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

.transition {
  opacity: 0;
  /*transition: opacity 0.5s ease-in;*/
}

.show {
  opacity: 1;
}

img {
  /*border-radius: 3px;*/
}

/* Scrollbar styles */
* {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

/* For WebKit browsers */
*::-webkit-scrollbar {
  display: none;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* For Firefox */
* {
  scrollbar-width: thin;
}

* {
  scrollbar-color: transparent transparent;
}
